.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: transparent; */
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: background-color 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* .navbar:hover {
    background-color: #9B26B5;

} */

.navbar a:hover {
    color: #9B26B5;

}

/* #navbar.sticky {
    background-color: #9B26B5;
    color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

#navbar.sticky a {
    color: rgb(255, 255, 255);
}

/* #navbar.sticky .logo {

    filter: invert(1);

} */

.navbar img {
    height: 4rem;
    padding: 0.5rem;
    margin-right: 10rem;
    filter: brightness(0.4) contrast(0.8) invert(1) sepia(1) saturate(7900%) hue-rotate(280deg);

}

/* .navbar:hover .logo {
    filter: invert(1);

} */

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    z-index: 4;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(8, 8, 8);
    transition: color 0.3s ease;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    margin: 0.8rem;


}

.dropdown a:hover {
    border-bottom: 2px solid rgb(255, 255, 255);

}


.navbar ul li a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background-color: #9B26B5;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: width 0.3s;

}


.navbar ul li a:hover::after {
    width: 100%;
}

.dropdown-content {
    display: none;
    position: fixed;
    width: 60rem;
    height: 20rem;
    background-color: #ffffff;
    z-index: -1;
    border-radius: 10px;
    color: #9B26B5;




}

.dropdown-content .left {
    height: 20rem;
    width: 16rem;
    background-color: #9B26B5;
    border-radius: 6px 0px 0px 6px;
    margin-top: 0rem;
    margin-left: 0rem;
}

.dropdown-content .left h1 {
    color: white;
    font-size: 26px;
    padding-top: 1rem;
    justify-content: start;
    padding-left: 1rem;
    font-weight: 600;
}

.dropdown-content .left p {
    color: white;
    font-size: 18px;
    padding: 10px;
    font-weight: 400;
    width: fit-content;

}


.dropdown-content .right {
    display: flex;
    flex-direction: row;
    margin-left: -3rem;
    margin-top: -22rem;

}

.dropdown-content .right .first {
    display: flex;
    flex-direction: column;
    padding: 4px;
    width: 30rem;
    margin-left: 25rem;
    margin-right: 4rem;
    margin-top: 3rem;

}

.dropdown-content .right .second {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 30rem;
    margin-top: 3rem;
}

.dropdown-content .right .first a {
    padding: 2px;
    color: #9B26B5;
}

.dropdown-content .right .second a {
    padding: 2px;
    color: #9B26B5;

}

.dropdown:hover .dropdown-content,
.dropdown-content:hover {
    display: block;
}

.dropdown:hover .dropdown-content {
    margin-top: 1rem;
    display: block;
    top: 11rem;
    left: 14rem;
    transform: translateY(-35%);

}

.ulist {
    margin-top: -3rem;
    margin-left: 3rem;


}

.ulist li {
    color: rgb(4, 5, 5);
    font-size: 16px;
    cursor: pointer;
    font-weight: 400;
    margin: 0.5rem;
}

.Navhamburger-menu {
    display: none;
}


#button {
    margin-top: 1.5rem;
    margin-left: 4rem;
    display: inline-block;
    padding: 10px 26px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #ffffff;
    /* Green border */
    color: white;
    background-color: #4d7feb;
    /* Green background */
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Button hover effect */
#button:hover {
    background-color: #005da8;
    transform: scale(1.1);
    
 
}

/* burger dropdown css */



/* responsive css code  */



@media screen and (max-width: 1327px) {

    .navbar ul li a {
        font-size: 16px;
        margin: 0.5rem;

    }

    .ulist {
        margin-top: -2.5rem;
        margin-left: 2.5rem;


    }

    .ulist li {
        font-size: 15px;
        margin: 5px;
    }


}

@media screen and (max-width: 1208px) {

    .navbar img {
        height: 3.8rem;
        padding: 0.5rem;
        margin-right: 9rem;

    }


    .navbar ul li a {

        margin: 0.4rem;



    }

    .ulist {
        margin-top: -2.2rem;
        margin-left: 2rem;


    }

    .ulist li {
        font-size: 14px;
        margin: 4px;
    }

    /* drop down */
    .dropdown-content {
        display: none;
        position: fixed;
        width: 50rem;
        height: 16rem;
        background-color: #ffffff;
        z-index: -1;
        border-radius: 10px;
        color: #9B26B5;

    }

    .dropdown-content .left {
        height: 16rem;
        width: 14rem;
        background-color: #9B26B5;
        border-radius: 6px 0px 0px 6px;
        margin-top: 0rem;
        margin-left: 0rem;
    }

    .dropdown-content .left h1 {
        color: white;
        font-size: 22px;
        padding-top: 1rem;
        justify-content: start;
        padding-left: 1rem;
        font-weight: 600;
    }

    .dropdown-content .left p {
        color: white;
        font-size: 16px;
        padding: 10px;
        font-weight: 400;
        width: fit-content;

    }


    .dropdown-content .right {
        display: flex;
        flex-direction: row;
        margin-left: -10rem;
        margin-top: -16rem;

    }

    .dropdown-content .right .first {
        display: flex;
        flex-direction: column;
        padding: 2px;
        width: 30rem;
        margin-left: 25rem;
        margin-right: 4rem;
        margin-top: 1rem;


    }

    .dropdown-content .right .second {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 30rem;
        margin-top: 1rem;


    }

    .dropdown-content .right .first a {
        padding: 2px;
        color: #9B26B5;
        margin-bottom: 0.3rem;

    }

    .dropdown-content .right .second a {
        padding: 2px;
        color: #9B26B5;
        margin-bottom: 0.3rem;

    }



    .dropdown:hover .dropdown-content {
        margin-top: 1rem;
        display: block;
        top: 10rem;
        left: 15rem;
        transform: translateY(-35%);

    }

    #button {
        margin-top: 1.2rem;
        margin-left: 6rem;
        display: inline-block;
        padding: 8px 12px;
        font-size: 14px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border: 1.8px solid #ffffff;
        /* Green border */
        color: white;
        background-color: #4d7feb;
        /* Green background */
        border-radius: 18px;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    }




}

@media screen and (max-width: 1140px) {

    .navbar img {
        height: 3.8rem;
        padding: 0.5rem;
        margin-right: 6rem;

    }


    .navbar ul li a {

        margin: 0.4rem;


    }

    .ulist {
        margin-top: -2.2rem;
        margin-left: 2rem;


    }

    .ulist li {
        font-size: 14px;
        margin: 4px;
    }



}

@media screen and (max-width: 1080px) {

    .navbar img {
        height: 3.2rem;
        padding: 0.3rem;
        margin-right: 3.5rem;

    }


    .navbar ul li a {

        margin: 0.4rem;
        font-size: 15px;

    }

    .ulist {
        margin-top: -2.2rem;
        margin-left: 1.8rem;

    }

    .ulist li {
        font-size: 14px;
        margin: 3px;
    }

    .dropdown:hover .dropdown-content {
        margin-top: 1rem;
        display: block;
        top: 8.8rem;
        left: 10rem;
        transform: translateY(-35%);

    }





}

@media screen and (max-width: 980px) {

    .navbar img {
        height: 3.2rem;
        padding: 0.3rem;
        margin-right: 2.5rem;

    }


    .navbar ul li a {
        margin-top: 2rem;
        font-size: 14px;
        font-weight: 500;

    }

    .ulist {
        margin-top: -2rem;
        margin-left: 1.5rem;


    }

    .ulist li {
        font-size: 14px;
        margin: 3px;
        font-weight: 400;
    }

    .dropdown-content {
        display: none;
        position: fixed;
        width: 45rem;
        height: 16rem;
        background-color: #ffffff;
        z-index: -1;
        border-radius: 10px;
        color: #9B26B5;

    }

    .dropdown-content .left p {
        color: white;
        font-size: 16px;
        padding: 8px;
        font-weight: 400;
        width: fit-content;

    }

    .dropdown-content .right {
        display: flex;
        flex-direction: row;
        margin-left: -10rem;
        margin-top: -18rem;

    }

    .dropdown-content .right .first a {
        padding: 2px;
        color: #9B26B5;
        margin-bottom: -0.5rem;

    }

    .dropdown-content .right .second a {
        padding: 2px;
        color: #9B26B5;
        margin-bottom: -0.5rem;

    }

    .dropdown:hover .dropdown-content {
        margin-top: 1rem;
        display: block;
        top: 8.8rem;
        left: 8rem;
        transform: translateY(-35%);

    }

}

@media screen and (max-width: 906px) {

    .navbar img {
        height: 3rem;
        padding: 0.3rem;
        margin-right: 12rem;
        margin-left: 0.5rem;

    }


    .navbar ul li a {
        margin-top: rem;
        font-size: 14px;
        font-weight: 500;


    }

    .ulist {
        display: none;


    }

    .ulist li {
        display: none;
    }

    /* drop down */
    .dropdown-content {
        display: none;
        position: fixed;
        width: 40rem;
        height: 14rem;
        background-color: #ffffff;
        z-index: -1;
        border-radius: 10px;
        color: #9B26B5;

    }

    .dropdown-content .left {
        height: 14rem;
        width: 14rem;
        background-color: #9B26B5;
        border-radius: 6px 0px 0px 6px;
        margin-top: 0rem;
        margin-left: 0rem;
    }

    .dropdown-content .left h1 {
        color: white;
        font-size: 20px;
        padding-top: 1rem;
        justify-content: start;
        padding-left: 1rem;
        font-weight: 600;
    }

    .dropdown-content .left p {
        color: white;
        font-size: 14px;
        padding: 10px;
        font-weight: 400;
        width: fit-content;

    }


    .dropdown-content .right {
        display: flex;
        flex-direction: row;
        margin-left: -10rem;
        margin-top: -15rem;

    }

    .dropdown-content .right .first {
        display: flex;
        flex-direction: column;
        padding: 2px;
        width: 30rem;
        margin-left: 25rem;
        margin-right: 4rem;
        margin-top: 0rem;


    }

    .dropdown-content .right .second {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 30rem;
        margin-top: 0rem;


    }

    .dropdown-content .right .first a {
        padding: 2px;
        color: #9B26B5;
        margin-bottom: -1.5rem;

    }

    .dropdown-content .right .second a {
        padding: 2px;
        color: #9B26B5;
        margin-bottom: -1.5rem;

    }



    .dropdown:hover .dropdown-content {
        margin-top: 1rem;
        display: block;
        top: 8rem;
        left: 10rem;
        transform: translateY(-35%);

    }

    #button {
        margin-top: 1rem;
        margin-left: 6rem;
        display: inline-block;
        padding: 8px 10px;
        font-size: 11px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border: 1.2px solid #ffffff;
        /* Green border */
        color: white;
        background-color: #4d7feb;
        /* Green background */
        border-radius: 14px;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    }

}

@media screen and (max-width: 876px) {

    .navbar img {
        height: 3rem;
        padding: 0.3rem;
        margin-right: 8rem;
        margin-left: 0.5rem;

    }


    .navbar ul li a {

        font-size: 14px;
        font-weight: 500;


    }

    .ulist {
        margin-top: -2rem;
        margin-left: 1rem;


    }

    .ulist li {
        font-size: 12px;
        margin: 2.5px;
    }

    .dropdown-content {
        display: none;
        position: fixed;
        width: 40rem;
        height: 14rem;
        background-color: #ffffff;
        z-index: -1;
        border-radius: 10px;
        color: #9B26B5;

    }

    .dropdown-content .left {
        height: 14rem;
        width: 14rem;
        background-color: #9B26B5;
        border-radius: 6px 0px 0px 6px;
        margin-top: 0rem;
        margin-left: 0rem;
    }

    .dropdown-content .left h1 {
        color: white;
        font-size: 20px;
        padding-top: 1rem;
        justify-content: start;
        padding-left: 1rem;
        font-weight: 600;
    }

    .dropdown-content .left p {
        color: white;
        font-size: 14px;
        padding: 10px;
        font-weight: 400;
        width: fit-content;

    }


    .dropdown-content .right {
        display: flex;
        flex-direction: row;
        margin-left: -10rem;
        margin-top: -15rem;

    }

    .dropdown-content .right .first {
        display: flex;
        flex-direction: column;
        padding: 2px;
        width: 30rem;
        margin-left: 25rem;
        margin-right: 4rem;
        margin-top: 0rem;


    }

    .dropdown-content .right .second {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 30rem;
        margin-top: 0rem;


    }

    .dropdown-content .right .first a {
        padding: 2px;
        color: #9B26B5;
        margin-bottom: -1.5rem;

    }

    .dropdown-content .right .second a {
        padding: 2px;
        color: #9B26B5;
        margin-bottom: -1.5rem;

    }



    .dropdown:hover .dropdown-content {
        margin-top: 1rem;
        display: block;
        top: 8rem;
        left: 10rem;
        transform: translateY(-35%);

    }

    #button {
        margin-top: 1rem;
        margin-left: 6rem;
        display: inline-block;
        padding: 8px 10px;
        font-size: 11px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border: 1.2px solid #ffffff;
        /* Green border */
        color: white;
        background-color: #4d7feb;
        /* Green background */
        border-radius: 18px;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    }




}

@media screen and (max-width: 816px) {

    .navbar img {
        height: 3.3rem;
        padding: 0.3rem;
        margin-right: 10rem;
        margin-left: 0.2rem;

    }


    .navbar ul li a {
        margin-top: 4rem;
        font-size: 14px;
        font-weight: 500;

    }

    .ulist li {
        display: none;
    }

    .dropdown-content {
        display: none;
        position: fixed;
        width: 40rem;
        height: 14rem;
        background-color: #ffffff;
        z-index: -1;
        border-radius: 10px;
        color: #9B26B5;

    }

    .dropdown-content .left {
        height: 14rem;
        width: 12rem;
        background-color: #9B26B5;
        border-radius: 6px 0px 0px 6px;
        margin-top: 0rem;
        margin-left: 0rem;
    }

    .dropdown-content .left h1 {
        color: white;
        font-size: 20px;
        padding-top: 1rem;
        justify-content: start;
        padding-left: 1rem;
        font-weight: 500;
    }

    .dropdown-content .left p {
        color: white;
        font-size: 13px;
        padding: 10px;
        font-weight: 400;
        width: fit-content;

    }


    .dropdown-content .right {
        display: flex;
        flex-direction: row;
        margin-left: -10rem;
        margin-top: -17rem;

    }

    .dropdown-content .right .first {
        display: flex;
        flex-direction: column;
        padding: 2px;
        width: 30rem;
        margin-left: 23rem;
        margin-right: 3rem;
        margin-top: 0rem;


    }

    .dropdown-content .right .second {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 30rem;
        margin-top: 0rem;


    }

    .dropdown-content .right .first a {
        padding: 2px;
        color: #9B26B5;
        margin-bottom: -2.8rem;

    }

    .dropdown-content .right .second a {
        padding: 2px;
        color: #9B26B5;
        margin-bottom: -2.8rem;

    }



    .dropdown:hover .dropdown-content {
        margin-top: 1rem;
        display: block;
        top: 8rem;
        left: 8rem;
        transform: translateY(-35%);

    }


}

@media screen and (max-width: 780px) {

    .navbar img {
        height: 3.3rem;
        padding: 0.3rem;
        margin-right: 7rem;
        margin-left: 0.2rem;

    }

    .navbar ul li a {
        margin-top: 4rem;
        font-size: 14px;
        font-weight: 500;

    }

    .ulist li {
        display: none;
    }

    .dropdown-content {
        display: none;
        position: fixed;
        width: 40rem;
        height: 12rem;
        background-color: #ffffff;
        z-index: -1;
        border-radius: 10px;
        color: #9B26B5;

    }

    .dropdown-content .left {
        height: 12rem;
        width: 12rem;
        background-color: #9B26B5;
        border-radius: 6px 0px 0px 6px;
        margin-top: 0rem;
        margin-left: 0rem;
    }

    .dropdown-content .left h1 {
        color: white;
        font-size: 20px;
        padding-top: 1rem;
        justify-content: start;
        padding-left: 1rem;
        font-weight: 500;
    }

    .dropdown-content .left p {
        color: white;
        font-size: 12px;
        padding: 10px;
        font-weight: 400;
        width: fit-content;

    }


    .dropdown-content .right {
        display: flex;
        flex-direction: row;
        margin-left: -10rem;
        margin-top: -16rem;

    }

    .dropdown-content .right .first {
        display: flex;
        flex-direction: column;
        padding: 2px;
        width: 30rem;
        margin-left: 22rem;
        margin-right: 3rem;
        margin-top: 0rem;


    }

    .dropdown-content .right .second {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 30rem;
        margin-top: 0rem;


    }

    .dropdown-content .right .first a {
        padding: 2px;
        color: #9B26B5;
        margin-bottom: -3.2rem;

    }

    .dropdown-content .right .second a {
        padding: 2px;
        color: #9B26B5;
        margin-bottom: -3.2rem;

    }



    .dropdown:hover .dropdown-content {
        margin-top: 1rem;
        display: block;
        top: 7rem;
        left: 6rem;
        transform: translateY(-35%);

    }

    #button {
        margin-top: -3rem;
        margin-left: 5rem;
        display: inline-block;
        padding: 8px 10px;
        font-size: 11px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border: 1.2px solid #ffffff;
        /* Green border */
        color: white;
        background-color: #4d7feb;
        /* Green background */
        border-radius: 18px;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    }


}

@media screen and (max-width: 730px) {

    .navbar img {
        height: 3.3rem;
        padding: 0.3rem;
        margin-right: 2rem;
        margin-left: 0.2rem;

    }


    .navbar ul li a {
        margin-top: 2rem;
        font-size: 14px;
        font-weight: 500;



    }

    .ulist li {
        display: none;
    }

    .dropdown-content {
        display: none;
        position: fixed;
        width: 40rem;
        height: 13rem;
        background-color: #ffffff;
        z-index: -1;
        border-radius: 10px;
        color: #9B26B5;

    }

    .dropdown-content .left {
        height: 13rem;
        width: 12rem;
        background-color: #9B26B5;
        border-radius: 6px 0px 0px 6px;
        margin-top: 0rem;
        margin-left: 0rem;
    }

    .dropdown-content .left h1 {
        color: white;
        font-size: 20px;
        padding-top: 1rem;
        justify-content: start;
        padding-left: 1rem;
        font-weight: 500;
    }

    .dropdown-content .left p {
        color: white;
        font-size: 12px;
        padding: 10px;
        font-weight: 400;
        width: fit-content;

    }


    .dropdown-content .right {
        display: flex;
        flex-direction: row;
        margin-left: -9rem;
        margin-top: -14rem;

    }

    .dropdown-content .right .first {
        display: flex;
        flex-direction: column;
        padding: 2px;
        width: 30rem;
        margin-left: 22rem;
        margin-right: 3rem;
        margin-top: 0rem;


    }

    .dropdown-content .right .second {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 30rem;
        margin-top: 0rem;


    }

    .dropdown-content .right .first a {
        padding: 2px;
        color: #9B26B5;
        margin-bottom: -2rem;

    }

    .dropdown-content .right .second a {
        padding: 2px;
        color: #9B26B5;
        margin-bottom: -2rem;

    }



    .dropdown:hover .dropdown-content {
        margin-top: 1rem;
        display: block;
        top: 7.5rem;
        left: 4rem;
        transform: translateY(-35%);

    }

    #button {
        margin-top: -3rem;
        margin-left: 5rem;
        display: inline-block;
        padding: 8px 10px;
        font-size: 11px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border: 1.2px solid #ffffff;
        /* Green border */
        color: white;
        background-color: #4d7feb;
        /* Green background */
        border-radius: 18px;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    }


}

@media screen and (max-width: 680px) {

    .navbar img {
        height: 2.6rem;
        padding: 0.3rem;
        margin-right: 1rem;
        margin-left: 0.2rem;

    }


    .navbar ul li a {
        margin-top: 4rem;
        font-size: 14px;
        font-weight: 400;

    }

    .ulist li {
        display: none;
    }

    .dropdown-content {
        display: none;
        position: fixed;
        width: 33rem;
        height: 11rem;
        background-color: #ffffff;
        z-index: -1;
        border-radius: 10px;
        color: #9B26B5;

    }

    .dropdown-content .left {
        height: 11rem;
        width: 11rem;
        background-color: #9B26B5;
        border-radius: 6px 0px 0px 6px;
        margin-top: 0rem;
        margin-left: 0rem;
    }

    .dropdown-content .left h1 {
        color: white;
        font-size: 16px;
        padding-top: 1rem;
        justify-content: start;
        padding-left: 1rem;
        font-weight: 500;
    }

    .dropdown-content .left p {
        color: white;
        font-size: 10px;
        padding: 10px;
        font-weight: 400;
        width: fit-content;

    }


    .dropdown-content .right {
        display: flex;
        flex-direction: row;
        margin-left: -9rem;
        margin-top: -14rem;

    }

    .dropdown-content .right .first {
        display: flex;
        flex-direction: column;
        padding: 2px;
        width: 30rem;
        margin-left: 20rem;
        margin-right: 1rem;
        margin-top: 0rem;


    }

    .dropdown-content .right .second {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 30rem;
        margin-top: 0rem;


    }

    .dropdown-content .right .first a {
        padding: 2px;
        color: #9B26B5;
        margin-bottom: -4rem;
        font-size: 13px;

    }

    .dropdown-content .right .second a {
        padding: 2px;
        color: #9B26B5;
        margin-bottom: -4rem;
        font-size: 13px;

    }



    .dropdown:hover .dropdown-content {
        margin-top: 1rem;
        display: block;
        top: 6.5rem;
        left: 4rem;
        transform: translateY(-35%);

    }

    #button {
        margin-top: -3rem;
        margin-left: 5rem;
        display: inline-block;
        padding: 8px 10px;
        font-size: 11px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border: 1.2px solid #ffffff;
        /* Green border */
        color: white;
        background-color: #4d7feb;
        /* Green background */
        border-radius: 18px;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    }


}

@media screen and (max-width: 635px) {
    .navbar {
        justify-content: center;
    }

    .navbar img {
        height: 4rem;
        padding: 0.3rem;
        margin-left: -1.5rem;
    }

    .navbar ul li a {
        display: none;
        margin-top: 4rem;

    }

    .ulist li {
        display: none;
    }

    .Navhamburger-menu {
        margin-left: 26rem;
        display: block;
        font-size: 30px;
        color: black;

    }

}

@media screen and (max-width: 550px) {

    .navbar img {
        height: 4rem;
        padding: 0.3rem;
        margin-left: -1.5rem;
    }

    .navbar ul li a {
        display: none;
        margin-top: 4rem;

    }

    .ulist li {
        display: none;
    }

    .Navhamburger-menu {
        margin-left: 20rem;
        display: block;
        font-size: 30px;
        color: black;

    }

}

@media screen and (max-width: 460px) {

    .navbar img {
        height: 4rem;
        padding: 0.3rem;
        margin-left: -1.5rem;
    }

    .navbar ul li a {
        display: none;
        margin-top: 4rem;

    }

    .ulist li {
        display: none;
    }

    .Navhamburger-menu {
        margin-left: 15rem;
        display: block;
        font-size: 30px;
        color: black;

    }

}

@media screen and (max-width: 380px) {

    .navbar img {
        height: 4rem;
        padding: 0.3rem;
        margin-left: -1.5rem;
    }

    .navbar ul li a {
        display: none;
        margin-top: 4rem;

    }

    .ulist li {
        display: none;
    }

    .Navhamburger-menu {
        margin-left: 12rem;
        display: block;
        font-size: 30px;
        color: black;

    }

}

@media screen and (max-width: 330px) {

    .navbar img {
        height: 3.9rem;
        padding: 0.4rem;
        margin-left: -1rem;

    }

    .Navhamburger-menu {
        margin-left: 8rem;
        display: block;
        font-size: 30px;
        color: black;

    }

}